<!-- PAGE LOADING
    ================================================== -->
    <div id="preloader">
        <div class="row loader">
            <div class="loader-icon"></div>
        </div>
    </div>

    <!-- MAIN WRAPPER
    ================================================== -->
    <div class="main-wrapper">

        <app-header></app-header>

        <!-- BANNER
        ================================================== -->
        <div class="main-slider bg-light">

            <div class="container">

                <div class="row align-items-stretch">

                    <div class="col-12 col-lg-6 offset-lg-1 order-2 pb-9 pb-lg-0">

                        <div class="position-relative h-100 min-height-50vh vw-lg-50 slider-section">

                            <div class="header-shape-bg d-none d-lg-block">

                                <svg xmlns="http://www.w3.org/2000/svg" height="100%" viewBox="0 0 105 673">
                                    <path class="fill-light" d="M83.8,680S-39.5,388.8,83.8,0H0V680Z" transform="translate(0 0)"></path>
                                    <path class="fill-primary" d="M105,680S-29.1,398,105,0H82.2s-119.8,324.2,0,680Z" transform="translate(0 0)" style="fill:#0087d4!important;"></path>
                                </svg>

                            </div>

                            <!-- Slider -->
                            <div class="owl-carousel owl-theme h-100 w-100">

                                <div class="item w-100 h-100 bg-cover" style="background-image: url(assets/img/team/1.jpg);">

                                </div>

                                <div class="item w-100 h-100 bg-cover" style="background-image: url(assets/img/team/2.jpg);">

                                </div>

                                <div class="item w-100 h-100 bg-cover" style="background-image: url(assets/img/team/3.jpg);">

                                </div>

                            </div>

                        </div>

                    </div>

                    <div class="col-12 col-md-10 col-lg-5 min-height order-1 py-9 py-lg-0">

                        <div class="row no-gutters align-items-center h-100">
                            <div class="col-12">
                                <!-- <div class="badge badge-pill badge-primary-soft mb-3">
                                    <span>Awesome design and many more</span>
                                </div> -->

                                <h2 class="line-height-sm">Notre plus grand capital, c'est l'humain. <br>
                                  </h2>
                                  <h1><strong class="text-recrutement font-weight-bold">La STB RECRUTE</strong> </h1>
                                <p class="lead mb-5 mb-xl-6 line-height-lg w-md-90 w-lg-100">La Société Tunisienne de Banque se propose d'organiser un concours de recrutement externe. <br> Pour y participer, veuillez consulter l'avis ci-joint et les conditions de participation </p>

                                <a href="http://10.12.0.144/recrutement/#/auth/sign-up" class="btn btn-recrutement btn-md mr-2 my-1 my-sm-0">S'inscrire</a>
                                <a href="http://10.12.0.144/recrutement/#/auth/sign-in" class="btn btn-light-recrutement btn-md my-1 my-sm-0">Se connecter</a>

                            </div>
                        </div>

                    </div>

                </div>

            </div>

        </div>
        
        <app-about></app-about>


       <!-- BLOG DETAIL
        ================================================== -->
        <app-condition></app-condition>
               <!-- Comment Participer 
        ================================================== -->

        <app-participer></app-participer>

       <!-- FOOTER
        ================================================== -->
        <app-footer></app-footer>
    </div>

    <!-- SCROLL TO TOP
    ================================================== -->
    <a href="#!" class="scroll-to-top"><i class="fas fa-angle-up" aria-hidden="true"></i></a>

    <!-- ALL JAVASCRIPT
    ================================================== -->

    <!-- Global JS -->
    <script src="assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="assets/libs/jquery/dist/jquery-migrate.min.js"></script>
    <script src="assets/libs/popper.js/dist/umd/popper.min.js"></script>
    <script src="assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Libs JS -->
    <script src="assets/libs/svg-injector/dist/svg-injector.min.js"></script>
    <script src="assets/libs/owl-carousel/dist/js/owl.carousel.min.js"></script>
    <script src="assets/libs/jarallax/dist/jarallax.min.js"></script>
    <script src="assets/libs/quform/js/plugins.js"></script>
    <script src="assets/libs/quform/js/scripts.js"></script>

    <!-- Theme JS -->
    <script src="assets/js/theme.js"></script>
<router-outlet></router-outlet>

