<section class="pb-0" id="conditions">
            <div class="container">
                <div class="row justify-content-center">
                    <h4 class="text-recrutement font-weight-bold h2 mb-4">CONDITIONS DE PARTICIPATION AU CONCOURS</h4>

                   
                </div>

                <div class="row justify-content-center">
                    <div class="col-lg-9">

                        <article>

                            <ul class="list-unstyled mb-7 pb-0">
                                <li class="py-2">
                                    <div class="d-flex">
                                        <span class="list-style1 mr-3">
                                            <i class="fas fa-check"></i>
                                        </span> 
                                        <div class="w-100">Le candidat doit être titulaire du diplôme mentionné dans le tableau ci-dessus selon le poste choisi pour concourir.</div>
                                    </div>
                                </li>
                                <li class="py-2">
                                    <div class="d-flex">
                                        <span class="list-style1 mr-3">
                                            <i class="fas fa-check"></i>
                                        </span> 
                                        <div class="w-100">Le candidat ne doit pas dépasser l’âge de 40 ans au 1er janvier 2024 conformément au décret n°1031 de l’année 2006 du 13 avril 2006. Au cas où le candidat a dépassé l’âge de 40 ans, une dérogation est possible comme suit : « L’âge maximum est apprécié à compter de l’année d’inscription du candidat, sous réserve de son actualisation dans un bureau d’emploi et du travail indépendant, pour une durée de cinq (5) années. L’âge maximum pour ce concours ne doit pas dépasser 45 ans au 1er janvier 2024 ».</div>
                                    </div>
                                </li>
                                <li class="py-2">
                                    <div class="d-flex">
                                        <span class="list-style1 mr-3">
                                            <i class="fas fa-check"></i>
                                        </span> 
                                        <div class="w-100">Le candidat doit être inscrit dans le bureau d’emploi et du travail indépendant « à l’exception des postes n°14, 15, 16, 17 ».</div>
                                    </div>
                                </li>
                                <li class="py-2">
                                    <div class="d-flex">
                                        <span class="list-style1 mr-3">
                                            <i class="fas fa-check"></i>
                                        </span> 
                                        <div class="w-100">Le candidat doit remplir les conditions mentionnées au tableau ci-dessus.</div>
                                    </div>
                                </li>
                                <li class="py-2">
                                    <div class="d-flex">
                                        <span class="list-style1 mr-3">
                                            <i class="fas fa-check"></i>
                                        </span> 
                                        <div class="w-100">Le candidat doit être de nationalité tunisienne et bénéficier de tous ses droits civiques.</div>
                                    </div>
                                </li>
                                <li class="py-2">
                                    <div class="d-flex">
                                        <span class="list-style1 mr-3">
                                            <i class="fas fa-check"></i>
                                        </span> 
                                        <div class="w-100">Le candidat doit s’engager à exercer sur tout le territoire de la République Tunisienne.</div>
                                    </div>
                                </li>
                                <li class="py-2">
                                    <div class="d-flex">
                                        <span class="list-style1 mr-3">
                                            <i class="fas fa-check"></i>
                                        </span> 
                                        <div class="w-100">Les diplômes équivalents doivent obéir aux termes du décret n°2009-2139 du 8 juillet 2009, relatif à la classification nationale des qualifications.</div>
                                    </div>
                                </li>
                                <li class="py-2">
                                    <div class="d-flex">
                                        <span class="list-style1 mr-3">
                                            <i class="fas fa-check"></i>
                                        </span> 
                                        <div class="w-100">Les diplômes des institutions étrangères ne seront acceptés qu’avec une attestation d’équivalence délivrée par les services compétents du ministère de l’enseignement supérieur, portant la date et le numéro d’équivalence, qui doivent être saisis dans le formulaire d’inscription électronique.</div>
                                    </div>
                                </li>
                                <li class="py-2">
                                    <div class="d-flex">
                                        <span class="list-style1 mr-3">
                                            <i class="fas fa-check"></i>
                                        </span> 
                                        <div class="w-100">Le candidat titulaire d’un diplôme inférieur ou supérieur au niveau exigé ne sera pas retenu.</div>
                                    </div>
                                </li>
                                <li class="py-2">
                                    <div class="d-flex">
                                        <span class="list-style1 mr-3">
                                            <i class="fas fa-check"></i>
                                        </span> 
                                        <div class="w-100">Tout candidat ne peut postuler qu’à un seul poste.</div>
                                    </div>
                                </li>
                            </ul>
                            
                            <div class="row no-gutters align-items-center h-100">
                                <div class="col-12 text-center">
                                  
                                    <a href="assets/docs/conditions de participation concours 2024.pdf" target="_blank" class="btn btn-recrutement btn-md mr-2 my-1 my-sm-0">Conditions de participation</a>
                                    
                     </div>
                     </div>
                        </article>

    

                    </div>
                </div>
            </div>
        </section>



