<!-- ABOUT US
================================================== -->
<section class="pb-0" id="avis">
  <div class="container">
    <div class="row align-items-center justify-content-around mb-9 mb-lg-15">
      <div class="col-md-9 col-lg-5 col-xl-5 text-center mb-5 mb-lg-0 d-none d-lg-block">
        <img class="rounded" src="assets/img/content/TEST RH.png" alt="...">
      </div>
      <div class="col-md-9 col-lg-6 col-xl-5">
        <h4 class="text-recrutement font-weight-bold h2 mb-4">Avis du Concours</h4>
        <p class="lead m-0">
          La <b>Société Tunisienne de Banque</b> se propose d’organiser un concours public externe sur dossiers et sur épreuves écrites et orales pour le recrutement de 
          <b>167 Agents et Cadres Contractuels</b> selon les spécialités suivantes et conformément aux conditions de participation au concours.
        </p>
        <ul class="pl-5 p-0">
          <li class="py-2">
            <p class="lead m-0">
              <a href="assets/docs/Annonce du Concours 2024 Version 24 9 2024.pdf" target="_blank">
                Télécharger l’avis de recrutement
              </a>
            </p>
          </li>
          <li class="py-2">
            <p class="lead m-0">
              <a href="assets/docs/conditions de participation concours 2024.pdf" target="_blank">
                Télécharger les conditions de participation
              </a>
            </p>
          </li>
        </ul>
        <p class="lead m-0">L’inscription se fait en ligne et par le biais de la présente plateforme</p>
        <ul class="pl-5 p-0">
          <li class="py-2">
            <p class="lead m-0">Date d’ouverture des inscriptions à partir du**</p>
          </li>
          <li class="py-2">
            <p class="lead m-0">Date de clôture des inscriptions le***</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
