 <section class="pb-0" id="participer">
            <div class="container">
                <div class="row align-items-center justify-content-around mb-9 mb-lg-15">
                   
                    <div class="col-md-9 col-lg-6 col-xl-5">
                            <h4 class="text-recrutement font-weight-bold h2 mb-4">Comment Participer ?</h4>
    
                            
                            <p class="w-90 lead">Suivez ces étapes simples pour compléter votre inscription et rejoindre notre plateforme de recrutement en quelques minutes seulement !</p>
                            <ul class="list-unstyled mb-6">
                                <li class="py-2">
                                    <div class="d-flex">
                                        <span class="list-style1 mr-3">
                                            <i class="fas fa-check"></i>
                                        </span> Remplissez les informations demandées
                                    </div>
                                </li>
                                <li class="py-2">
                                    <div class="d-flex">
                                        <span class="list-style1 mr-3">
                                            <i class="fas fa-check"></i>
                                        </span> Cliquez sur s’inscrire
                                    </div>
                                </li>
                                <li class="py-2">
                                    <div class="d-flex">
                                        <span class="list-style1 mr-3">
                                            <i class="fas fa-check"></i>
                                        </span> Vous allez recevoir deux codes de vérification (OTP) : un par email et un autre par SMS sur votre mobile. Veuillez les saisir dans les champs correspondants pour confirmer votre inscription à notre plateforme de recrutement.
                                    </div>
                                </li>
                                <li class="py-2">
                                    <div class="d-flex">
                                        <span class="list-style1 mr-3">
                                            <i class="fas fa-check"></i>
                                        </span> Puis Cliquez sur inscription
                                    </div>
                                </li>
                                <li class="py-2">
                                    <div class="d-flex">
                                        <span class="list-style1 mr-3">
                                            <i class="fas fa-check"></i>
                                        </span> Saisissez votre CIN et votre mot de passe pour vous connecter
                                    </div>
                                </li>
                                <li class="py-2">
                                    <div class="d-flex">
                                        <span class="list-style1 mr-3">
                                            <i class="fas fa-check"></i>
                                        </span> Choisissez le poste qui vous convient
                                    </div>
                                </li>
                                <li class="py-2">
                                    <div class="d-flex">
                                        <span class="list-style1 mr-3">
                                            <i class="fas fa-check"></i>
                                        </span> Remplissez le formulaire puis appuyez sur « Next »
                                    </div>
                                </li>
                                <li class="py-2">
                                    <div class="d-flex">
                                        <span class="list-style1 mr-3">
                                            <i class="fas fa-check"></i>
                                        </span> Une fiche d’inscription sera disponible sous Format PDF, téléchargez-la pour pouvoir l’imprimer
                                    </div>
                                </li>
                                 <!-- <li class="py-2">
                                    <div class="d-flex">
                                        <span class="list-style1 mr-3">
                                            <i class="fas fa-check"></i>
                                        </span> NB : Prière de bien vérifier votre numéro CIN et E-mail car une fois inscrit vous ne pouvez pas le modifier
                                    </div>
                                </li>
                                <li class="py-2">
                                    <div class="d-flex">
                                        <span class="list-style1 mr-3">
                                            <i class="fas fa-check"></i>
                                        </span> Tout candidat doit postuler pour un seul poste et un seul lieu d’affectation
                                    </div>
                                </li> -->
                            </ul>
     
                            <hr>
                            <b>NB:</b>
                         
    <ul>
        <li>Veuillez vérifier attentivement votre numéro de CIN et votre adresse e-mail, car une fois inscrit, vous ne pourrez plus les modifier.</li>
        <li>Tout candidat doit postuler pour un seul poste et un seul lieu d’affectation</li>
     
    </ul>
                            
    
                        
                        
                       
                    </div>
                   
                    <div class="col-md-9 col-lg-5 col-xl-5 text-center mb-5 mb-lg-0 d-none d-lg-block">
                        <img class="rounded" style="max-width: 130%!important;" src="assets/img/content/4.jpg" alt="...">
                    </div>
                  
                </div>


            </div>
        </section>


