

         <!-- FOOTER
        ================================================== -->
        <footer class="top-shape pt-11 pt-sm-15 pt-lg-17 pt-xl-20 bg-light position-relative">

            <div class="container">
                <div class="row pb-7 ">

                    <div class="col-sm-6  col-lg-3 mb-5 mb-lg-0">
                        
                      
                    </div>
                    <div class="col-sm-6  col-lg-3 mb-5 mb-lg-0">
                        
                        <h3 class="w-90 w-xl-80">Suivez-nous</h3>
                        <ul class="list-unstyled social-icon p-0 m-0">
                            <li><a href="https://www.facebook.com/stbbank/events/?_rdr" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="https://twitter.com/stb_labanque" target="_blank"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="https://www.youtube.com/channel/UCJg6riifVGydl3BiU1-an_w" target="_blank"><i class="fab fa-youtube"></i></a></li>
                            <li><a href="https://fr.linkedin.com/company/stb-bank" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                            <li><a href="https://www.instagram.com/stbbank/?hl=fr" target="_blank"><i class="fab fa-instagram"></i></a></li>

                            
                        </ul>
                    </div>

        
                    <div class="col-sm-6 col-lg-6">
                        <h3 class="h4 ">Contact</h3>
                        <ul class=" p-0 m-0">
                            <li>E-MAIL: recrutement-stb-2024&#64;stb.com.tn</li>
                            <li>Adresse: Rue hedi nouira 1001, Tunis</li>
                           
                                <!--   <li class="pb-2"><div class="d-flex">
                                    <div class="mr-2">
                                        
                                        <img class="feather" src="assets/img/svg/phone.svg" alt="...">
                                    </div>
                                    <div>
                                        <span>70 140 000</span>
                                    </div>
                                </div> -->
                            <!-- </li>
                            <li class="py-2">
                                <div class="d-flex">
                                    <div class="mr-2">
                                        <img class="feather" src="./assets/img/svg/mail.svg" alt="...">
                                    </div>
                                    <div>
                                        <span>recrutement-stb-2024@stb.com.tn</span>
                                    </div>
                                </div>
                            </li>
                            <li class="pt-2">
                                <div class="d-flex">
                                    <div class="mr-2">
                                        <img class="feather" src="assets/img/svg/map-pin.svg" alt="...">
                                    </div>
                                    <div>
                                        <span>Rue hedi nouira 1001, Tunis</span>
                                    </div>
                                </div>
                            </li> -->
                        </ul>
                    </div>

                </div>

            </div>

            <!-- Bg shape -->
            <div class="bg-round-shape top reverse">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1920 130" preserveAspectRatio="none meet" class="ie-height-130">
                    <path class="fill-light" d="M-1,0S447.9,95.6,960,95.6c0,0,432.5,9.8,959-95.6Z" transform="translate(1)"></path>
                    <path class="fill-white" d="M-1,130V0S521.4,101.6,960,95.6c0,0,440,5.3,959-95.6V130Z" transform="translate(1)"></path>
                </svg>
            </div>
            <!-- End Bg shape -->

            <div class="text-center border-top border-vlight-dark">
                <div class="container">
                    <div class="row py-4">
                        <div class="col-md-12">
                            <p class="mb-0 text-dark">&copy; 2024 STB BANK.</p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
